---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import ArticleInfoLine from '../components/ArticleInfoLine.astro';



type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags, readTime } = Astro.props;
---

	<html lang="en">

	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<main>
			<article>
				<ArticleInfoLine pubDate={pubDate} tags={tags} readTime={readTime} />
				<h1 class="description">{description}</h1>
				<div class="hero-image">
					{heroImage && <img width={1200} height={600} src={heroImage} alt="" />}
				</div>

				<div class="content">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>

	</html>